.about {
    text-align: center;
    display: block;
}

.about > h1 {
    padding: 15px;
    font-size: 60px;
}

.about_info {
    display: flex;
    flex-direction: column;
}

.about_description {
    white-space: pre-wrap;
    padding: 10px;
    width: 50%;
    height: fit-content;
    position: relative;
    left: 25%;
}

.basic_info > p {
    width: 50%;
}

.skills {

}

.skills > h2 {
    font-size: 45px;
}

.skills_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills_item > p {
    color: transparent;
    font-weight: bold;
    text-decoration: underline rgba(0, 0, 0, 0);
    transition: color 300ms;
}

.skills_item:hover > p {
    color: black;
    transition: text-decoration-color 300ms;
    text-decoration: underline rgba(0, 0, 0, 1);
}

.skills_img {
    width: 100px;
    padding: 10px;
}

.contact_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact_item {
    padding: 15px;
}

.contact_link {
    color: black;
    font-size: 50px;
    text-decoration: underline rgba(255, 0, 0, 0);
    transition: text-decoration-color 300ms;
}

.contact_link:hover {
    text-decoration-color: rgba(255, 0, 0, 1);
    color: red;
}

.resume {
    align-self: center;
    box-shadow: 5px 5px 10px black;
}

.divider {
    margin: 80px;
}