.about {
    text-align: center;
    display: block;
}

.about > h1 {
    padding: 15px;
    font-size: 60px;
}

.about_info {
    display: flex;
    flex-direction: column;
}

.about_description {
    white-space: pre-wrap;
    padding: 10px 25% 10px 25%;
    height: fit-content;
    position: relative;
    text-align: center;
}

.basic_info > p {
    width: 50%;
}

.skills {

}

.skills > h2 {
    font-size: 45px;
}

.skills_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills_item > p {
    color: transparent;
    font-weight: bold;
    text-decoration: underline rgba(0, 0, 0, 0);
    transition: color 300ms;
}

.skills_item:hover > p {
    color: white;
    transition: text-decoration-color 300ms;
    text-decoration: underline white;
}

.skills_item {
    width: 100px;
    padding: 10px;
}

.contact_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact_item {
    padding: 15px;
}

.contact_link {
    color: white;
    font-size: 50px;
    text-decoration: underline rgba(255, 0, 0, 0);
    transition: text-decoration-color 300ms;
}

.contact_link:hover {
    text-decoration-color: rgba(255, 0, 0, 1);
    color: red;
}

.resume {
    align-self: center;
    box-shadow: 5px 5px 10px black;
}

.divider {
    margin: 80px;
}

@media screen and (max-width: 800px) {
    .skills_item {
        max-width: 10%;
        padding: 3px;
        font-size: 10px;
        font-weight: bolder;
    }
    .resume {
        width: 100%;
    }
    .about_description {
        max-width: 100%;
        padding: 20px;
    }
}