.home {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, rgb(4, 11, 37), #282b35);
}

@media screen and (max-width: 800px) {
    .home {
        height: 920px;
    }
    .info > h1 {
        font-size: 65px;
    }
    .info > h2 {
        font-size: 25px;
    }
    .info {
        max-width: 100%;
    }
}

.background {
    width: 50%;
    position: absolute;
    right: 10%;
}

.info {
    z-index: 1;
    position: absolute;
    width: 650px;
    top: 30%;
    padding: 20px;
}

h1 {
    font-size: 100px;
}

h2 {
    padding: 20px;
    font-size: 30px;
}

.info > p {
    padding: 30px;
    white-space: pre-wrap;
}

.about_me_button {
    position: absolute;
    left: 50%;
    margin: 10px;
    width: 120px;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
    background: #ad2c2c;
    text-align: center;
    font-weight: bold;
    color: white;
    transition: 0.3s ease-in-out;
}

.icon-arrow-right {
    color: transparent;
    transition: color 300ms;
    padding-left: 10px;
    font-weight: bold;
}

.about_me_button:hover:before {
    opacity: 1;
}

.about_me_button:hover {
    width: 150px;
}

.about_me_button:hover .icon-arrow-right {
    color: white;
}