.home {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, rgb(4, 11, 37), #282b35);
}

@media screen and (max-width: 800px) {
    .home {
        height: 920px;
    }
    .info > h1 {
        font-size: 65px;
    }
    .info > h2 {
        font-size: 25px;
    }
    .info {
        max-width: 100%;
    }
}

.background {
    width: 50%;
    position: absolute;
    right: 10%;
    z-index: 2;
}

.info {
    z-index: 2;
    position: absolute;
    width: 650px;
    top: 30%;
    padding: 20px;
}

h1 {
    font-size: 100px;
}

h2 {
    padding: 20px;
    font-size: 30px;
}

.info > p {
    padding: 30px;
    white-space: pre-wrap;
}

.about_me_button {
    position: absolute;
    left: 50%;
    margin: 10px;
    width: 120px;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
    background: #ad2c2c;
    text-align: center;
    font-weight: bold;
    color: white;
    transition: 0.3s ease-in-out;
    z-index: 2;
}

.icon-arrow-right {
    color: transparent;
    transition: color 300ms;
    padding-left: 10px;
    font-weight: bold;
}

.about_me_button:hover:before {
    opacity: 1;
}

.about_me_button:hover {
    width: 150px;
}

.about_me_button:hover .icon-arrow-right {
    color: white;
}

.bg_effect object {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(234, 30, 30, 0.2);
    border: 3px solid rgba(246, 10, 10, 0.2);
    animation: animate 25s linear infinite;
    bottom: -160px;
    z-index: 1;
}

.bg_effect object:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.bg_effect object:nth-child(2){
    left: 5%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.bg_effect object:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.bg_effect object:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.bg_effect object:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.bg_effect object:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.bg_effect object:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.bg_effect object:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.bg_effect object:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.bg_effect object:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-100vh) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}