.home {
    width: 100%;
    height: 100vh;
    color: white;
    background: linear-gradient(135deg, rgb(4, 11, 37), #282b35);
}

@media screen and (max-width: 800px) {
    .home {
        height: 920px;
    }
    .info > h1 {
        font-size: 65px;
    }
    .info > h2 {
        font-size: 25px;
    }
    .info {
        max-width: 100%;
    }
}

.background {
    width: 50%;
    position: absolute;
    right: 10%;
}

.info {
    z-index: 1;
    position: absolute;
    width: 650px;
    top: 30%;
    padding: 20px;
}
h1 {
    font-size: 100px;
}
h2 {
    padding: 20px;
    font-size: 30px;
}
.info > p {
    padding: 30px;
    white-space: pre-wrap;
}

.about_me_button {
    position: absolute;
    left: 50%;
    margin: 10px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
    background: #ad2c2c;
    text-align: center;
    font-weight: bold;
    color: white;
}

.icon-arrow-right {
    color: transparent;
    transition: color 300ms;
    padding-left: 10px;
    font-weight: bold;
}

.about_me_button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.about_me_button:hover:before {
    opacity: 1;
}

.about_me_button:hover .icon-arrow-right {
    color: white;
}

.about_me_button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}