.sidebar {
    position: fixed;
    height: 100vh;
    width: 100px;
    background: #191818;
    transition: width 290ms;
}

.icon-menu {
    font-size: 50px;
    color: #fd5800;
}

.sidebar_button {
    text-align: center;
    position: absolute;
    padding: 10px;
    width: 80px;
    height: 80px;
    z-index: 10;
}

.nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 25%;
}

.nav__item {
    padding-bottom: 70px;

}

.nav__link{
    color: white;
}

.nav__link > i {
    font-size: 25px;
}

.nav__link:hover{
    color: red;
}

