main {
  width: calc(100vw - 100px);
  transition: width 300ms;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background: #202324;
  display: block;
  overflow-x: hidden;
  color: white;
}