* {
  margin: 0;
  padding: 0;
}

.root {
  width: 100vw;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.7;
  color: #e4e4e4;
}

h1, h2, h3 {
  color: #f4f4f4;
  font-weight: bolder;
  line-height: 1.2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 7rem;
  padding-bottom: 2rem;
}

.section__title {
  margin-left: 0.875rem;
  position: relative;
  margin-bottom: 3.75rem;
}

.section__title::before {
  content: "";
  height: 2.25rem;
  width: 0.75rem;
  position: absolute;
  left: -0.875rem;
  top: -0.875rem;
}

.btn {
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 1.875rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  border: 1px;
  color: #fff;
  display: inline-block;
  background-color: #c51a1a;
}

@keyframes button-push {
  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.btn:hover {
  animation: button-push 0.3s linear 1;
}